@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto:300,400,700');
.report-message {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

.main {
    padding: 2em;
    background: white;
    color: black;
    margin: 5%;
    border: 3px solid black;
}

#header {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}

.status-connected {
    background: greenyellow;
    color: black;
}

.status-disconnected {
    background: orangered;
    color: white;
}

html,
body {
    font-family: 'PT Sans', sans-serif;
    height: 100%;
    width: 100%;
    background-color: #6951F0;
    color: white;
}

table {
    width: 100%;
    height: 100%;
    text-align: center;
}

.ticket-actual {
    background-color: #282828;
}

.ticket-actual-numero {
    font-size: 80px;
}

.ticket-actual-escritorio {
    font-size: 45px;
}

.ticket-secundario {
    font-size: 25px;
}


/* Nuevo-ticket */

#lblNuevoTicket {
    font-size: 70px;
}

.error {
    background: orangered;
    color: white;
}